* {
    margin:         0px;
    padding:        0px;
    box-sizing: border-box;
    font-family: 'Zen Old Mincho', serif;
}

body{
    background: url('f2.jpg');
    background-size: cover;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
   
}

nav :hover {
   
        font-size:          20px;
        border-radius:      10px 10px 0px 0px;
    
}

nav a {
        text-decoration: none;
        color: white;
        padding: 10px;
     
    
}


article {
    padding: 100px;
    margin-top:         20px;
    margin-bottom:      50px;
    width:              90%;
    margin-left:        5%;
    margin-right:       5%;
    min-height:         100px;
    height:             auto;
    color: white;
}

article img {
    margin-top:         20px;
    margin-bottom:      20px;
    width:              90%;
    margin-left:        5%;
    margin-right:       5%;
    min-height:         100px;
    height:             auto;
}



@media (min-width: 1000px) {
    header img {
        float:          left;
        width:          40px;
        margin-right:   30px;
    }

    header p {
        font-family:    'Russo One', sans-serif;
        font-size:      40px;
        color:          #FFFFFF;
    }
    
    section {
        width:      29%;
        float:      left;
        box-shadow: 5px 5px 10px #AAA;
        margin:     1%;
        padding:    1%;
    }
    
    section:hover {
        box-shadow: -5px -5px 10px #AAA;
        margin:     1%;
        padding:    1%;
    }

    section img {
        width:      30%;
        float:      left;
    }
    

  


}

@media (max-width: 999px) {
    header img {
        visibility: hidden;
        display: none;
    }

    
    
    section {
        width:      96%;
        float:      left;
        box-shadow: 0px 0px 3px #AAA;
        margin:     1%;
        padding:    1%;
    }
    
    section img {
        width:      90%;
    }
   

    
}