*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Zen Old Mincho', serif;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: right;
   
}

nav :hover {
   
        font-size:          20px;
        border-radius:      10px 10px 0px 0px;
    
}

nav a {
        text-decoration: none;
        color: white;
        padding: 10px;
     
    
}

body{

     background: url('f5.jpg');
      background-size: cover;
    
}

table{
    background: rgba(0,0,0,0.4);
   width: 100%;
    height: 50%;
    border: 1px solid white;
    
}


th{
    border: 1px solid white;
    padding: 20px;
    text-align: left;
    box-shadow: -5px -5px 10px #AAA;
    margin:     1%;
    padding:    1%;
    color: white;
}

td{
    border: 1px solid white;
    padding: 5px;
    text-align: left;
    box-shadow: -5px -5px 10px #AAA;
    margin:     1%;
    padding:    1%;
    color: white;
}

.contenedor{
    padding: 20px; 
    height: 50px;
}

